page-notas {
    .corpo{
        display: flex;
    }

    .corpoFilha{
        margin: auto;
        transform: translate(0%,10%);
    }

    .tamanho{
        font-size: 1000%;
        width:100px;
        height:100px;
        position: relative;;
        top:50%;
        left:45%;
        margin-left:-50px;
        margin-right: -50px;
    }

    h2{
        text-align: center;
    }

    .botao{
        border-radius: 5px;
        font-size: 25px;
        height: 50px;;
    }
}
